* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

/* CSS da página de erro padrão */

.erro {
    max-width: 500px;
    margin: 60px auto;
    padding: 20px 50px;
    border: 1px solid #aaa;
    border-radius: 5px;
    --webkit-border-radius: 5px;
    --moz-border-radius: 5px;
    background-color: #2f4f4f;
}

.erro h1 {
    font-size: 5rem;
    color: #fff;
    margin: 20px 0;
}

.erro h2 {
    font-size: 1.4rem;
    color: #fff;
    margin: 20px 0;
}

.erro .botao_erro {
    display: block;
    max-width: 300px;
    text-align: center;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    padding: 12px 0;
    margin: 20px auto;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

.erro .botao_erro:hover {
    background-color: #e1e1e1;
}


/* CSS da página de login */

.login {
    max-width: 400px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin: 50px auto;
}

.login img {
    width: 100%;
}

.login .login_body {
    padding: 20px;
    width: 100%;
}


/* CSS das páginas do sistema */

.fundo_app {
    background-color: #e7e7e7;
}

.header_principal {
    background-color: #2f4f4f;
    width: 100%;
    position: fixed;
    top: 0;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    z-index: 900;
}

.header_principal h1 {
    color: #fff;
    font-size: 2rem;
}

.conteudo_principal {
    max-width: calc(100% - 340px);
    margin-top: 86px;
    margin-left: 320px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 2px #555;
}

.conteudo_principal .header {
    padding: 16px;
    border-bottom: 1px solid #555;
}

.conteudo_principal .header h2 {
    font-size: 2rem;
    margin: 0;
}

.conteudo_principal .conteudo {
    padding: 16px;
}


/* CSS do menu */

.menu_principal {
    position: fixed;
    z-index: 900;
    width: 300px;
    background-color: #22222f;
    height: 100vh;
    top: 70px;
}

.menu_principal ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu_principal ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    width: 100%;
    height: 36px;
    align-items: center;
    padding: 0 16px;
}

.menu_principal ul li a:hover {
    background-color: #2f4f4f;
}